<div class="thumbnail">
        <img src="assets/imagens/{{ imovel.imagem }}.jpg" alt="imoveis miniatura">
        
        <div class="caption">
            <div *ngIf="!imovel.showDetails">
                <h4>
                    <span class="label label-primary">
                        {{ imovel.tipo }}
                    </span>
                </h4>
                <h4>
                    <i class="glyphicon glyphicon-tag">
                        {{ imovel.preco | currency: 'BRL':true }}
                    </i>
                </h4>
                <h4>
                    <i class="glyphicon glyphicon-home">
                        {{ imovel.endereco }}
                    </i>
                </h4>
                <!--<h4>
                    <i class="glyphicon glyphicon-phone">
                        {{ imovel.contato }}
                    </i>
                </h4>-->
                <hr>

                <button 
                class="btn btn-sm btn-success"
                *ngIf="!imovel.showDetails"
                (click)="imovel.showDetails = !imovel.showDetails">
                Detalhes
                </button>
            </div>
            <div *ngIf="imovel.showDetails">
               
                    <span class="label label-primary">
                        Quartos: {{ imovel.quartos }}
                    </span>
              
                    <span class="label label-primary">
                       Banheiro: {{ imovel.banheiros }}
                    </span>
              
                    <span class="label label-primary">
                       Tamanho: {{ imovel.area }}
                    </span>
                    <br>
                    <h5 style="font-weight: bold;">
                       {{ imovel.descricao }}
                    </h5>
                <hr>

                <button 
                class="btn btn-sm btn-danger"
                (click)="imovel.showDetails = !imovel.showDetails">
                Fechar
                </button>
            </div>
        </div>
    </div>